*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main{
    background-color: rgb(247 241 229);
    border: 1px solid rgb(247 241 229);
}

.effact{
    margin-top:90px;
    height: 100vh;
    width: 100%;
    background-image: url("./Effactimg.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    
}

.effact h1{
    color: white;
    font-size: 60px;
    position: absolute;
    top:60px;
    left: 40px;
}

.effact2{
    height: 100vh;
    width: 100%;
    background-image: url("./Effactimg1.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.effact2 h1{
    color: white;
    font-size: 60px;
    position: absolute;
    top:180px;
    right: 40px;
}